/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eef3ff;
  color: #1f2937;
  overflow-x: hidden;
}

/* Hilangkan garis focus bawaan Bootstrap */
.form-control:focus {
  box-shadow: none !important;
}

/* Placeholder */
.form-control::placeholder {
  color: #9ca3af;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
}

/* Button */
button {
  font-family: inherit;
}

/* Image */
img {
  max-width: 100%;
  display: block;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Table */
table thead th{
    font-size:13px;
    color:#94A3B8;
    font-weight:600;
    padding:18px 14px;
}

table tbody td{
    font-size:14px;
    color:#334155;
    padding:18px 14px;
}

table tbody tr{
    border-top:1px solid #F1F5F9;
}


/* Calender */

.calendar-modal .modal-dialog{
    max-width:900px;
}

.calendar-modal .modal-content{
    border-radius:20px;
}

.calendar-modal .modal-body{
    overflow:hidden;
}

.react-calendar{
    width:100%;
    max-width:340px;
    border:none;
    font-family:inherit;
}

.react-calendar__navigation{
    margin-bottom:16px;
}

.react-calendar__month-view{
    padding:0 8px;
}

.react-calendar__tile{
    height:38px;
    border-radius:10px;
}

.react-calendar__tile--active{
    background:#2538C8 !important;
    color:white !important;
}

.react-calendar__tile--now{
    background:#E8EEFF;
}

.react-calendar__navigation button{
    min-width:40px;
}

.react-calendar__navigation__label{
    font-size:18px;
    font-weight:700;
}

.calendar-modal .modal-content{
    border-radius:20px;
}

.calendar-modal .modal-dialog{
    max-width:980px;
}

input[type="date"]::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"]:valid::-webkit-datetime-edit {
  color: black;
}

/* Lebar Input */
.react-datepicker-wrapper{
    width:100%;
}

.react-datepicker__input-container{
    width:100%;
}

/* Input */
.tanggal-input{
    width:100%;
    height:48px;
    border:1px solid #D9DDE7;
    border-radius:12px;
    padding:0 45px 0 14px;
    font-size:15px;
    font-weight:500;
    color:#31353F;
    outline:none;
    box-shadow:none;
    transition:.2s;
}

.tanggal-input:focus{
    border:1px solid #2342C0;
}

/* Popup */
.react-datepicker{
    border:none;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(0,0,0,.15);
    font-family:inherit;
}

/* Header */
.react-datepicker__header{
    background:#2342C0;
    border-bottom:none;
    padding-top:12px;
}

/* Nama bulan */
.react-datepicker__current-month{
    color:#fff;
    font-weight:600;
}

/* Hari */
.react-datepicker__day-name{
    color:#fff;
    font-weight:600;
}

/* Tombol panah */
.react-datepicker__navigation-icon::before{
    border-color:#fff;
}

/* Dropdown bulan & tahun */
.react-datepicker__month-select,
.react-datepicker__year-select{
    background:#fff;
    color:#31353F;
    border:none;
    border-radius:8px;
    padding:4px 8px;
    font-size:13px;
    margin:2px;
}

/* Hari biasa */
.react-datepicker__day{
    color:#31353F;
    border-radius:50%;
    transition:.2s;
}

/* Hover */
.react-datepicker__day:hover{
    background:#E9F0FF;
    color:#2342C0;
}

/* Sidebar */
.sidebar-link{

transition:.25s;

}

.sidebar-link:hover{

transform:translateX(5px);

background:rgba(255,255,255,.08);

}

